@font-face {
    font-family: 'Helvetica LT Thai';
    src: url('css/fonts/HelveticaLTThai-Regular.woff2') format('woff2'),
        url('css/fonts/HelveticaLTThai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
